/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-mar-2019, 10:41:50
    Author     : Usuario
*/
html, body {
  height: 100%;
  margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: georgia,times,serif;
    color: #333;
    font-size: 1.1rem;
    line-height: 1.4em;
    margin: 0;
}

.content {
    flex: 1 0 auto;
}
.container{
    width: 85%;
    margin: 0 auto;
}

.perfil ul li{
    list-style: none;
    display: inline-block;
}

.header{
    background: #3DB000;
    color: #333;
    padding: 0.8rem 0;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    
}
.header a{
    color: #333;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li {
    display: inline-block;
    padding: 5px 5px;
}
.navigation ul li a {
    display: block;
    
}
.navigation-usuario{
    transition: all 0.1s linear;
    border-radius: 6px;
}
.navigation-usuario a:hover{
    color: #FACC2E;
}
.logo{
    display: block;
    padding: 10px;
    letter-spacing: 3px;
    font-size: 1.9em;
    font-family: serif, fantasy;
    
}

.footer{
  flex-shrink: 0;
  padding: 1rem 0;
  background: #f2f2f2;
  text-align: center;
  width: 100%
}

.main{
    padding-top: 75px;
    padding-bottom: 75px;
}

.pag-inicial{
    margin-top: 50px;
    width: 100%;
    background: #d3d3d3;
    height: 800px;
}
     

.pag-inicial p{
    font-size: 1.2rem;
    text-align: center;
    
}

.pag-inicial img{
    width: 100%;
    height: 100%;
}

.pag-registro{
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.pag-config{
    width: 20rem;
    margin-left: 8rem;
    margin-right: auto;
}

.pag-registro a{
    color: black;
}

.search-bar{
    width: 100%;
    margin-bottom: 1rem;
}

.search-img{
    width: 100%;
    height: 40rem;
    margin-top: 1rem;
}

 input[type=search]{
  width: 100%;
  padding: 1.3rem;
  border: none;
  background: #f1f1f1;
}

.proyectos-inicial{
    width: 100%;
    margin-top: 4rem; 
    background: #d3d3d3;
    padding: 1rem;
}

.proyectos-lista{
    list-style: none;
    margin: 1rem 2rem;
    padding: 4rem 4rem;
}

.proyectos-lista li{
    background: white;
    display: inline;
    padding: 4rem;
}

.proyectos-lista li a{
    background: white;
}
input[type=text], input[type=password] {
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-indent: 1rem;
  margin: 0.5rem 0 1.5rem 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}



input[type=text]:focus, input[type=password]:focus, input[type=search] {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}


/* Estrellas */
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.pag-nook_n{
  margin-left: 5%;
  margin-right: 7%;
  width: 85%;
}

.nooks{
    height: 3rem;
}
.nooks button{
    width: 10rem;
    position: absolute;
    right: 15rem;
}

.nookstitulo{
    padding-top: 3rem;
    width: 85%;
    margin: auto;
}


.nook{
  margin-bottom: 2rem;
  margin-top: 2rem;
  background: #F2F2F2;
  padding-left: 2rem;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 6.8rem;
}

.nook_n_img{
    float: left;
}

.starNook{
    float: right;
    right: 10rem;
}

.star{
    margin-left: 100%;
}

.valoracion{
    width: 6.5rem;
    right: 0;
    padding:0rem;
}

.valoracion:hover{
    cursor: pointer;
}

.valoracion input{
    display: none;
}
.valoracion label:before{
    margin: 0.5rem;
    font-family: FontAwesome;
}

.valoracion input:checked ~ label,
.valoracion:not(:checked) label:hover,
.valoracion:not(:checked) label:hover ~ label{
    color: #FFD700;
}

.valoracion input:checked ~ label:hover,
.valoracion label:hover ~ input:checked ~ label,
.valoracion input:checked ~ label:hover ~ label{
    color: cornflowerblue;
}


.perfil{
    padding-top: 3rem;
    width: 85%;
    margin: 0 auto;
}

.slider {
    margin: 1rem;
    position: relative;      /* recommended */
    height: 5rem;
}

.slider .MS-content {
    height: 100%;
    white-space: nowrap;     /* required */
    overflow: hidden;        /* required */
    margin: 0 5%;            /* makes room for L/R arrows */
    background: white;
}

.slider .MS-content .item {
    display: inline-block;   /* required */
    width: 25%;              /* required * Determines number of visible slides */ 
    position: relative;      /* required */
    vertical-align: top;     /* required */
    overflow: hidden;        /* required */
    height: 100%;            /* recommended */
    white-space: normal;     /* recommended */
    text-align: center;
}

.slider .MS-content a{
    color: black;
    text-decoration: none;
}
.slider .MS-content a .item-link {
    width: 100%;
    height: 100%;
}

.slider .MS-controls button {
    position: absolute;      /* recommended */
    top: 20%;
    opacity: 0.5;

}

.slider .MS-controls button:hover{
    opacity: 0.8;
}

.slider .MS-controls .MS-left {
    left: 0px;
    width: 5px;
}

.slider .MS-controls .MS-right {
    right: 0px;
    width: 5px;
}

/*archivo*/
.archivo ul li{
    display: inline-block;
    padding-left: 5%;
}
.archivo li p{
    background: #F2F2F2;
    align: justify;
}
.pag-archivo ul li{
    display: inline-block;
    list-style: none;
}
.opciones ul li{
    padding-left: 5%;
}

.comentarios {
    width: 100%;
    display: inline-block;
    padding-left: 5%;
    padding-top: 1rem;
    margin-bottom: 7%;
}
#comentario {
    padding-right: 1rem;
    width: 50%;
    position: absolute;
}

.EnvComment{
    position: absolute;
    margin-left: 55%;
}

.comentariosUsuarios ul li{
    border: 0.1rem solid black;
    margin-left: 5%;
    margin-right: 1.5%;
    margin-bottom: 1rem;
    display: block;
    background: #F2F2F2;
    padding-bottom: 0.5rem;
}

.comentarioTexto {
   
    padding-left: 2rem;
}
.comentarioTexto .usuario{
    font-size-adjust: 0.8;
}

.comentarioTexto .usuario a{
   padding-right: 2rem;
   text-decoration: none;
}
.star1{
    padding-left: 70%;
}
/*archivo*/


.paginanook{
    padding-top: 3rem;
    padding-right: 5rem;
    width: 85%;
    margin: 0 auto;
}

.paginanook ul li{
    list-style: none;
    display: inline-block;
}

.opcionesPerfil ul li{
    list-style: none;
    font-size: 1.2rem;
}

.opcionesPerfil a{
    color: black;
    text-decoration: none;
}
.opcionesPerfil a:hover {
    color: #FF8C00;
}

.nook a{
    float:left;
    background: #d3d3d3;
}
.nook h3,.nook p{
    padding-left: 16rem;
}

.titulo_nook{ 
    display: block;
    padding-left: 10rem;
}

.resultado_busqueda{
    margin-top: 5rem;
}
h4{
    font-size: 0.7rem;
}

.enviar_mensaje{
    margin-left: 30rem;
    width: 10rem;
}
.nook_n{
    padding: 1rem;
}

.nook_n button{
    width: 10rem;
    position: absolute;
    right: 15rem;
}

.pag-mensajesEnviar{
    margin-left: 7rem;
    margin-right: 20rem;      
}
.destinotabla {
    margin-top: 2rem;  
    padding: 1rem;
    border-radius: 15px;
    border: 10px;	
    border-color: black;
    background: #3DB000;
    
    
   
}
.destinotabla textarea{
   
    width: 60em;
    height: 1.7rem;
    resize: none;   
    border-color:#3DB000; 
}
.destinotabla label{
    color: #333;
}
.cuerpo_mensaje textarea{
    width: 60em;
    height: 30rem;
    resize: none;  
}
.destinotabla input{
    background: #d3d3d3;
    border-radius: 15px;
}


.pag-crearNook{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #3DB000; 
    border-radius: 15px;
    border: 10px;	
    width: 60%;
    margin:  auto;
    margin: 2rem auto auto;
}

.tabla_crearNook {
    
     margin:auto;
}

.tabla_crearNook div label{
    width: 10em;
    color: #333;
}
.tablaNooktext {
    width: 85%;
    height: 1.7rem;
    resize: none;   
    border-color:#3DB000; 
    border-radius: 5px;
    
}
.tablaNookSubir {
    width: 60em;
    height: 10rem;
    resize: none;  
}
.tablaNookSubir input{
    background: #d3d3d3;
    border-radius: 15px;
}

.archivosSubidos {
height: 10em;
width: 93%;

border-radius: 15px;
text-align: center;
color: white;
margin:auto;

}
.archivosSubidos {
     padding-right: 4em;
     padding-left:  1em;
 }
 

 .mensajesBuzon ul li{
    border: 0.1rem solid black;
    margin-left: 5%;
    margin-right: 1.5%;
    margin-bottom: 1rem;
    display: block;
    background: #F2F2F2;
    padding-bottom: 0.5rem;
}

.mensajeBuzon {
    padding-left: 2rem;
    background: #f2f2f2;
}
.mensajeBuzon .usuario{
    font-size-adjust: 0.8;
    font-weight: bold;
}
.mensajeBuzon .asunto{
   padding-left: 2rem;
}

.mensajeBuzon .fecha{
   text-align: right;
   padding-right: 3rem;
}

.mensajeBuzon .verMensaje{
   padding-left: 80%;
   padding-right:2rem;
}

.pag-buzon .mensajesBuzon .enviarMensaje{
    /*No se comporta como el resto, he itnetnado width y demas mierdas y nada*/
   padding-left: 80%;
   padding-right:2rem;
}








.pag-mensajeContenido{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #3DB000; 
    border-radius: 15px;
    border: 10px;	
    width: 60%;
    margin:  auto;
    margin: 2rem auto auto;
   
}
.tablamensajetexto{
     margin:auto;
    
     
}
.usuarioEmisoryAsunto{
   
    width: 90%;
    height: 1.7rem;
    resize: none;   
    border-color:#3DB000; 
}
.tablamensajetexto label{
    color: #333;
}
.mensajeEnterotext{
    width: 90%;
    height: 30rem;
    resize: none;
   

}
.tablamensajetexto  input{
    background: #d3d3d3;
    border-radius: 15px;
}
.partes {
    overflow:auto;
    padding-top: 0.5em;
    
}

.opcionesPerfil{
    line-height : 4rem;
    font-size: 1.9rem;
}


.imagenesUsuarios{
    width:90px;
    height:90px;
    border-radius: 50px;
}

.imagenesUsuariosComentarios{
    text-decoration: none;
    width:60px;
    height:60px;
    border-radius: 50px;
}

.imagenesUsuariosCabecera{
    width:60px;
    height:60px;
    border-radius: 50px;
}


.borrarComentario{
    height: 3rem;
    margin-bottom: 1rem;
}

.borrarComentario button{
    background-color: #FF626C;
    width: 10rem;
    position: absolute;
    right: 15rem;

}

.borrarArchivo{
    height: 3rem;
    margin-bottom: 1rem;
}

.borrarArchivo button{
    background-color: #FF626C;
    width: 10rem;
    position: absolute;
    right: 15rem;

}

.borrarNook{
    height: 3rem;
    margin-bottom: 1rem;
}

.borrarNook button{
    background-color: #FF626C;
    width: 10rem;
    position: absolute;
    right: 15rem;

}

.pag-agregarDocumento{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #3DB000; 
    border-radius: 15px;
    border: 10px;	
    width: 60%;
    margin:  auto;
    margin: 2rem auto auto;
}


